.container {
    height: 55vh;
}

.title {
    font-size: 2rem;
}

.slide {
    width: 100%;
    margin-bottom: 2rem;
}

.slide img {
    width: 100%;
    height: 10rem;
    
}

.swiper-button-prev {
    display: none;
}

.swiper-button-next {
    display: none;
}

.container_city {
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
}

.city {
    width: 15rem;
    height: 12rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
}

.city:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.point {
    color: #fff;
    font-size: 1rem;
}

.city h4,
.city p {
    color: #fff;
}

.city_detail-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.city_detail-container h1 {
    margin: 1rem 0 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.city_detail-container h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.city_detail-container img {
    width: 12rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.city_detail-container span {
    font-weight: bold;
}

.city_detail-container p {
    margin: 1rem 0;
    text-align: left;
    font-size: 1rem;
    word-spacing: 0.15rem;
    line-height: 1.5rem;
}

.arrow_container {
    width: 3rem;
    height: 3rem;
    border: 2px solid #000;
    background-color: #fff;
    position: fixed;
    cursor: pointer;
    bottom: 2rem;
    right: 2rem;
    border-radius: 100%;
}

.arrow {
    font-size: 1.5rem;
    color: #000;
}

.input_container {
    margin-top: 1rem;
    width: 75%;
    gap: .8rem;
}

.input_container input {
    width: 100%;
}

@media (min-width: 768px) {
    .slide {
        width: 80%;
    }

    .slide img {
        width: 100%;
        height: 14rem;
        display: inline-block;
    }

    .swiper-button-prev {
        display: block;
        margin-top: -3.4rem;
    }

    .swiper-button-next {
        display: block;
        margin-top: -3.4rem;
    }

    .city {
        width: 17rem;
    }

    .city_detail-container img {
        height: 25rem;
    }

    .input_container {
        width: 80%;
    }
}

@media (min-width: 988px) {
    .slide img {
        height: 18rem;
    }

    .container_city {
        width: 90%;
        gap: 6rem;
    }

    .city {
        width: 21rem;
        height: 13rem;
    }

    .city_detail-container h1 {
        font-size: 2rem;
    }

    .city_detail-container h4 {
        font-size: 1.6rem;
    }

    .city_detail-container p {
        font-size: 1.3rem;
    }

    .city_detail-container img {
        height: 34rem;
    }

    .input_container {
        width: 90%;
    }

    .input_container input {
        width: 30%;
    }
}